<div class="row rowspacer25" style="margin-top: 25px;">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<%= render :partial => 'shared/agreement' %>
		</div>
	</div>
</div>

<div class="form-actions spaced text-center">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cocktails_path, :class => 'btn'  %>
</div>